@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open sans";
}

/* nav {
  height: 5vh;
  display: flex;
  background: red;
  width: 100vw;
  align-items: center;
} */

/* nav h3 {
  margin-right: auto;
  padding: 0 4%;
  cursor: pointer;
}

nav ul {
  display: flex;
}
nav ul li {
  list-style: none;
  cursor: pointer;
  margin-left: 3%;
}

.App {
  height: 95vh;
  width: 100vw;
  display: flex;
}

.left-side,
.right-side {
  width: 50%;
  height: 100%;
  position: relative;
}

.left-side {
  overflow: hidden;
}
.right-side {
  overflow: scroll;
}

.form-container {
  width: 80%;
  padding: 10%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.form-container h1 {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.form-container button {
  margin-top: 50px;
  padding: 10px 30px;
  border: none;
  outline: none;
  border-radius: 7px;
  text-transform: uppercase;
  cursor: pointer;
  background: tomato;
  font-size: 16px;
  color: white;
}

.input-container {
  position: relative;
  margin-top: 30px;
  width: 100%;
}

.input-container input {
  width: 100%;
  padding: 5px 0;
  border: none;
  outline: none;
  border-bottom: 2px solid black;
  font-size: 16px;
}

.input-container label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 0;
  transition: top 0.3s;
}

.input-container input:focus + label,
.input-container input:valid + label {
  top: -25px;
}

.right-side ul {
  width: 80%;
}
.right-side ul > li {
  list-style: none;
  padding: 5px;
  font-size: 20px;
  width: 80%;
  display: block;
  margin: 5% auto;
  padding: 30px;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.5);
  color: black;
}

.right-side ul li > span {
  margin-right: 10px;
  font-weight: 700;
  text-decoration: underline;
  color: black;
}
.right-side ul li > a {
  text-decoration: none;
}

.right-side button {
  margin-left: 10px;
  padding: 10px 30px;
  border: none;
  outline: none;
  border-radius: 7px;
  text-transform: uppercase;
  cursor: pointer;
  background: red;
  font-size: 16px;
  color: white;
} */
