// Globals

@import './globals/reset';
@import './globals/variables';
@import './globals/globals';

// Components

@import './components/header';
@import './components/form';
@import './components/dashboard';
@import './components/list';

.App{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 150px 120px 0;
    &-img{
        height: 100%;
        img{
            height: 100%;
            width: 100%;
        }
    }
}
